.page-indicator-container {
  margin-top: 30px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 30px;
}

.indicator-text {
  user-select: none;
  cursor: pointer;
  font-size: 18px;
  color: white;
}

.indicator-container {
  padding: 7px 10px;
  background-color: #224DAA;
  border-radius: 5px;
}

.indicator-container:hover {
  background-color: rgb(24, 56, 124);
}