.header-text-container {
  cursor: pointer;
  padding: 3px 0px;
  border: 1px solid transparent;
}

.header-text-container:hover, .header-text-container:active {
  border: 1px solid rgb(100, 100, 100);
}

.header-text {
  font-size: 20px;
  color: rgb(65, 65, 65);
  cursor: pointer;
  user-select: none;
  margin: 0px 10px;
}