.profile-container {
  width: 90%;
  padding: 30px 0px;
}

.schedule-result-text-link {
  color: rgb(224, 69, 69);
  font-weight: 600;
  text-decoration: underline;
  cursor: pointer;
}

#red-link {
  color: rgb(38, 126, 11) !important;
  cursor: pointer;
  text-decoration: underline;
  font-weight: 600;
}

.booking-no-button {
  color: #224DAA;
  cursor: pointer;
  text-decoration: underline;
  font-weight: 600;
}

.booking-profile-row {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  padding: 30px 0px;
  user-select: none;
  border: 0.5px dashed rgb(100, 100, 100);
  margin-bottom: 15px;
}

.tooltip-button {
  width: 50%;
  color: #224DAA;
  padding: 5px;
  background-color: white;
  font-size: 14px;
  border: none;
  outline: none;
  cursor: pointer;
}

.tiptool-container {
  width: 150px;
}


