.schedule-body-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 50px 0px;
  align-items: center;
  background-color: white;
}

.schedule-result-container {
  width: 90%;
  border-top: solid rgb(170, 170, 170) 1px;
  padding-top: 30px;
}

.schedule-result-header-text {
  font-size: 14px;
  font-weight: 600;
  color: #224DAA;
}

.schedule-result-header-row {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.schedule-result-row, .schedule-result-row-selected {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  padding: 20px 0px;
  user-select: none;
  border-radius: 10px;
  cursor: pointer;
  border: 1px transparent solid;
}

.schedule-result-row-selected {
  background-color: rgb(226, 226, 226);
  border-radius: 10px;
}

.schedule-result-row-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.quote-dropdown {
  border: 2px #9c9c9c dashed;
  width: 50%;
  margin-bottom: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  padding: 20px;
  background-color: rgb(240, 240, 240);

  opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 0.4s;
  user-select: none;
}

.schedule-result-text {
  font-size: 16px;
}

.schedule-result-text-time {
  font-size: 14px;
  color: rgb(77, 77, 77);
}

.col-numb {
  width: 5%;
}

.col {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.col2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.col3 {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.result-button {
  padding: 10px 15px;
  background-color: #224DAA;
  border: none;
  outline: none;
  color: white;
  font-size: 18px;
  border-radius: 3px;
  cursor: pointer;
}

.result-button:hover {
  background-color: rgb(20, 55, 131);
}

.schedule-button-container {
  width: 15%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.warning-text {
  color: #224DAA;
  font-size: 25px;
  font-weight: bolder;
}

#login-to-proceed-button {
  margin-top: 50px;
}

.validity-container {
  width: 100%;
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 2px #9c9c9c dashed;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.arrow-icon-point-right {
  width: 20px;
  transform: rotate(270deg);
}

.arrow-icon-point-left {
  width: 20px;
  transform: rotate(90deg);
}

