.schedule-body-container {
  width: 100%;
  height: 85%;
  display: flex;
  flex-direction: column;
  padding: 50px 0px;
  align-items: center;
  background-color: white;
}

.schedule-result-container {
  width: 90%;
  border-top: solid #BF037A 1px;
  padding: 30px 0px;
}

.schedule-result-header-text {
  font-size: 18px;
  font-weight: bold;
}

.schedule-result-header-row {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.schedule-result-row {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  padding: 10px 0px;
  user-select: none;
  border-radius: 10px;
}

.schedule-result-row-selected {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0px;
  background-color: rgb(148, 223, 179);
  border-radius: 10px;
  user-select: none;
  margin-bottom: 10px;
}

.schedule-result-row-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.quote-dropdown {
  width: 50%;
  background-color: rgb(160, 238, 193);
  margin-bottom: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  padding: 20px;
  transition: all 0.3s ease-in;
  user-select: none;
}

.schedule-result-row:hover {
  background-color: rgb(230, 230, 230);
  border-radius: 10px;
}

.schedule-result-text {
  font-size: 16px;
}

.schedule-result-text-time {
  font-size: 15px;
  font-style: italic;
  color: rgb(77, 77, 77);
}

.col {
  width: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.col2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.col3 {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.result-button {
  padding: 10px 15px;
  background-color: #BF037A;
  border: none;
  outline: none;
  color: white;
  font-size: 20px;
  border-radius: 3px;
  cursor: pointer;
}

.result-button:hover {
  background-color: rgb(163, 0, 103);
}

.schedule-button-container {
  width: 15%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.warning-text {
  color: #BF037A;
  font-size: 25px;
  font-weight: bolder;
}